rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Transactions Collection Rules
    match /transactions/{transactionId} {
      allow read, write: if request.auth != null && request.auth.uid == request.resource.data.userId;
      allow read, delete: if request.auth != null && request.auth.uid == resource.data.userId;
    }
    
    // Budgets Collection Rules
    match /budgets/{budgetId} {
      allow read, write: if request.auth != null && request.auth.uid == request.resource.data.userId;
      allow read, delete: if request.auth != null && request.auth.uid == resource.data.userId;
    }
  }
}
